<% content_for :profile do %>
	<h1><%= @current_user.fname %>'s Profile</h1>
	<%= button_tag "Edit Profile", class: "edit_profile_button" %>
	<%= content_tag(:div, class: "user_profile_container") do %>
		<%= content_tag :p, class: "profile_fields" do %>
			<%= @current_user.fname + " " + @current_user.lname %>
		<% end %>
		<%= content_tag :p, class: "profile_fields" do %>		
			<%= @current_user.profile.biography %>
		<% end %>
		<%= content_tag :p, class: "profile_fields" do %>
			<%= @current_user.profile.age %>
		<% end %>
		<%= content_tag :p, class: "profile_fields" do %>
			<%= @current_user.profile.location %>
		<% end %>
		
	<% end %>

	<%= form_tag profile_update_path(@current_user.profile.id), method: :put, class: "edit_profile_container" do %>
			<%= content_tag :p, class: "edit_profile_fields" do %>
				<%= text_field_tag "form_fields[biography]", nil, placeholder: "Biography" %>
			<% end %>
			<%= content_tag :p, class: "edit_profile_fields" do %>
				<%= text_field_tag "form_fields[age]", nil, placeholder: "Age" %>
			<% end %>
			<%= content_tag :p, class: "edit_profile_fields" do %>
				<%= text_field_tag "form_fields[location]", nil, placeholder: "Location" %>
			<% end %>
			<%= submit_tag(value= "Edit")%>
		<% end %>
<% end %>

<% content_for :feed do %>
	<%= form_for @post do |f| %>
		<%= f.text_field :title, placeholder: "Title" %>
		<br>
		<%= f.text_field :content, placeholder: "Content" %>
		<%= f.submit :create %>
	<% end %>
	<% @current_user.posts.reverse.each do |post| %>
		<%= content_tag :div, class: "hover_div" do %>
			<%= content_tag :div, class: "all_post_div" do %>
				<strong class="full_name"><%= post.user.fname + ' ' + post.user.lname %></strong>
				<%= '| ' + post.user.username %>
				<h4 class="post_title_heading"><%= post.title.upcase %></h4>
				<p class="post_content"><%= post.content %></p>
				<% post.comments.all.each do |comment| %>
					<%= content_tag :div, class: "all_comments_div" do %>
						<p class="comment_content"><%= comment.content %></p>
						<% if @current_user.id == comment.user_id %>
							<%= button_to "Delete Comment", post_comment_path(post.id, comment.id), method: :delete, class: "delete_comment_button" %>
						<% end %>
					<% end %>
				<% end %>
				<%= button_tag "Leave Comment", class: "leave_comment_button" %>
				<%= form_for @comment, url: post_comments_path(post.id), html: {class: "post_comment_form"} do |c| %>
						<%= content_tag :div, class: "post_comment_div" do %>
							<%= c.text_field :content %>
							<%= c.submit "Comment" %>
						<% end %>
				<% end %>
					<% if @current_user.id == post.user.id %>
					<%= button_to "Delete Post", post_path(post.id), method: :delete, class: "delete_post_button" %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
<% end %>






